@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
}

.content-loading {
  background-color: #dfdfdf; /* Set the background color as a light gray */
  border-radius: 8px; /* Add border-radius for rounded corners */
  animation: loading-animation 0.4s infinite alternate; /* Apply a simple animation */
}

@keyframes loading-animation {
  to {
    opacity: 0.6; /* Adjust opacity for the alternating effect */
  }
}
body,html {
  height: 100%;
  width: 100%;
  background-color: #F5F5F7;
}

.details-content {
  background-image: url('/bgImage.svg');
  background-position: center bottom;
  background-size: 820px 614px;
  background-repeat: no-repeat;
}
#app {
  width: 100%;
  height: 100%;
}